.boxes {
	border: solid 3px lightgray;
}

.container {
	display: grid;
	grid-template: 100px auto 100px / 30fr 70fr;
	grid-template-areas:
		"header header"
		"sidebar main"
		". footer";
	gap: 30px;
	border: solid 3px darkturquoise;
	height: 100vh;
}

.box {
	background: gold;
}

.box-1 {
	grid-area: header;
}

.box-4 {
	grid-area: footer;
}
