.boxes {
	border: solid 3px lightgray;
}

.container {
	border: solid 3px lightcoral;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
}

.box {
	flex-basis: 10rem;
	height: 5rem;
	flex-shrink: 1;
	background: gold;
	margin: 1rem;
}

.box-1 {
	flex-shrink: 0;
}
