.boxes {
	border: solid 3px lightgray;
	min-height: 200vh;
}

.avatar {
	width: 5rem;
	height: 5rem;
	background-color: gold;
	float: left;
	margin-right: 0.5rem;
}

.tweet {
	border: solid 1px lightgray;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.clear {
	clear: left;
}
